[submodule "NCLCoreClasses"]
	path = NCLCoreClasses
	url = https://github.com/RichDavisonNCL/NCLCoreClasses
[submodule "GLTFLoader"]
	path = GLTFLoader
	url = https://github.com/RichDavisonNCL/GLTFLoader
[submodule "OpenGLRendering"]
	path = OpenGLRendering
	url = https://github.com/RichDavisonNCL/OpenGLRendering
